* {
    padding: 0;
    margin: 0;
}

body {
    margin:0;
    padding: 0;
}

.banner {
    background-color: yellow;
    width: 300px;
    padding: 20px;
    text-align: center;
    position: relative;
    margin: 20px auto;
  }
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .banner h2 {
    margin: 0 0 10px;
    font-size: 24px;
  }
  
  p {
    margin: 0 0 15px;
    font-size: 14px;
  }
  
  .countdown {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .time-unit {
    margin: 0 10px;
    background-color: black;
    padding: 0.7rem;
    color: white;
  }
  
  .time {
    font-size: 24px;
    font-weight: bold;
    display: block;
  }
  
  .label {
    font-size: 12px;
  }
  
  .cta-btn {
    background-color: #4a0e4e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .App {
    display: flex;
    flex-direction: column;
  }